body
{
  background-color:#000000;
}


* {
  box-sizing: border-box;
}
.menu {
  float:left;
  width:20%;
  text-align:center;
}
.menu a {
  background-color:#e5e5e5;
  padding:8px;
  margin-top:7px;
  display:block;
  width:100%;
  color:black;
}
.main {
  float:left;
  width:60%;
  padding:0 20px;
}

/* TEXT GLOW >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> STOP */

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

  /* TEXT GLOW >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> STOP */

/* ABOUT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> START */

.dskrp {

  text-transform: uppercase;
  color: #F7090D;
}



.right {
  background-color:#01CFE1;
  float:left;
  width:20%;
  padding:15px;
  margin-top:7px;
  text-align:center;
  color: #000000;
}

/* ABOUT >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> STOP */


@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width:100%;
  }
}

/* BAR SAFER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> START */
hr.barsfar {
  border: 10px solid #F0FF00;
  border-radius: 5px;
}

/* BAR SAFER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> STOP */




 /* Bar Menu >>>>>>>>>>>>>>>>>>>>>>>>>>>>>Start*/

 div {
   margin-bottom: 15px;
   padding: 4px 12px;
 }

 .cydia {
   background-color: #ffdddd;
   border-left: 6px solid #f44336;
   color: #000000;
 }

 .zebra {
   background-color: #ddffdd;
   border-left: 6px solid #4CAF50;
   color: #000000;
 }

 .sileo {
   background-color: #e7f3fe;
   border-left: 6px solid #2196F3;
   color: #000000;
 }


 .installaer {
   background-color: #ffffcc;
   border-left: 6px solid #ffeb3b;
   color: #000000;
 }




  /* Bar Menu >>>>>>>>>>>>>>>>>>>>>>>>>>>> Stop Cod*/


  p.normal {
    font-weight: normal;


    /* FOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> START */

      /* FOTER >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> STOP */
